@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
a, p, h1, h2, h3, h4, li {
  font-family: 'Do Hyeon', sans-serif;
  line-height: 2;
  color: #eeeeee;
  opacity: 0.9;
  padding: 0;
  line-height: auto;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: -webkit-xxx-large;
  text-shadow: 1px 1px skyblue, -1px -1px indianred;
  transition: text-shadow 2ms ease;
}

h1:hover {
  text-shadow: -1px -1px skyblue, 1px 1px indianred;
}

h2 {
  text-shadow: 1px 1px rgba(135, 206, 235, 0.35), -1px -1px rgba(205, 92, 92, 0.35);
  text-transform: capitalize;
}

a:hover h2 {
  color: #11111155;
}

a>h2 {
  padding: 5px;
}

@keyframes flick {
  0% {
    filter: brightness(1)
  }
  10% {
    filter: brightness(0.9)
  }
  15% {
    filter: brightness(1.2)
  }
  40% {
    filter: brightness(0.8)
  }
  45% {
    filter: brightness(1.4)
  }
  50% {
    filter: brightness(1.1)
  }
  60% {
    filter: brightness(0.9)
  }
  65% {
    filter: brightness(1.1)
  }
  75% {
    filter: brightness(1.2)
  }
  80% {
    filter: brightness(0.9)
  }
  100% {
    filter: brightness(1)
  }
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

#p1, #p2 {
  transition: opacity 2s, transform 2s ease;
}

#field {
  animation: flick 2s linear infinite;
  mix-blend-mode: screen;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-size: auto;
  background-color: #111111aa;
  background-blend-mode: darken;
  transform: scale(1.1);
  filter: blur(4px);
  transition: transform 1s, filter 1s ease;
}

header:hover {
  opacity: 0.7;
}

header {
  pointer-events: none;
  position: fixed;
  right: -20px;
  border-left: 2px solid #eeeeee55;
  border-bottom: 2px solid #eeeeee55;
  opacity: 0.9;
  left: 115px;
  width: auto;
  box-shadow: inset 0px 0px 20px #11111155;
  top: -1px;
  height: 93px;
  background: #11111133;
  transform: skewx(-20deg);
  transition: opacity 0.2s ease;
}

header>.header {
  padding-left: 25px;
  transform: skewx(20deg);
}

.header>h1 {
  line-height: 100px;
  font-size: 95px;
  padding-right: 35px;
  margin: 0;
  color: #eeeeee;
  opacity: 0.5;
  text-align: right;
}

nav {
  transform: rotate(-19.75deg);
  transform-origin: 0% 0%;
  top: 200px;
  left: -200px;
  position: fixed;
  z-index: 20;
  transition: left 0.5s, top 0.5s ease;
}

main {
  width: auto;
  left: 0;
  right: 50vw;
  top: 50%;
  bottom: 0px;
  direction: rtl;
  overflow: hidden;
  position: absolute;
  overflow-y: hidden;
  transition: opacity 0.2s ease;
  display: flex;
  flex-flow: wrap;
}

main:hover {
  margin-right: -17px;
  overflow-y: auto;
}

aside {
  left: 0px;
  width: 50vw;
  height: auto;
  max-width: 70vh;
  top: 96px;
  filter: opacity(0.8);
  overflow: hidden;
  bottom: 50%;
  border-right: 1px solid #eeeeee55;
  border-bottom: 1px solid #eeeeee55;
  position: fixed;
  transition: opacity 0.2s ease;
}

.asd-cont {
  left: 0px;
  width: 100%;
  overflow-y: hidden;
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  height: auto;
  top: 35px;
  background: linear-gradient(to top, transparent, transparent, #111111);
  bottom: 0px;
  position: absolute;
  direction: rtl;
  z-index: 1;
}

.asd-cont>.frame {
  width: auto;
  left: 0;
  right: 0;
  border-top-left-radius: 10%;
  overflow: hidden;
  display: block;
  position: absolute;
  height: -webkit-fill-available;
}

.frame>iframe {
  width: -webkit-fill-available;
  display: block;
  position: absolute;
  height: -webkit-fill-available;
  border-top: 0px solid transparent;
}

.asd-cover-content {
  transform: skewx(70deg)translate(-58px, 2px);
}

.asd-cover-content h2 {
  font-size: 30px;
  letter-spacing: 10;
  text-align: right;
}

.asd-cover {
  z-index: 2;
  width: -webkit-fill-available;
  top: 0;
  left: 48px;
  right: 50px;
  position: absolute;
  border-top: 1px #eeeeee55 solid;
  border-left: 3px #eeeeee55 solid;
  background: #111111;
  height: 34px;
  transform: skewx(-70deg);
}

.tools:hover {
  overflow-y: auto;
}

.tools {
  box-shadow: inset 0 0 80px #11111155;
  border-bottom: 1px solid #eeeeee55;
  border-top: 1px solid #eeeeee55;
  background: url(scaf.png);
  background-size: contain;
  direction: ltr;
  position: fixed;
  left: 70vh;
  right: 0;
  min-width: 50vw !important;
  top: 96px;
  bottom: 50vh;
  overflow-y: hidden;
  width: auto;
}

.leftsearch {
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  width: -webkit-fill-available;
}

.searchelement a {
  font-size: 15vh;
  line-height: 15vh;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.icon {
  width: 15vh;
  height: 15vh;
  margin: 0;
  padding: 2.5vh;
  filter: saturate(0);
  transition: transform 0.2s, saturate 0.5s ease;
}

.searchelement:hover .icon {
  filter: saturate(1);
  transform: scale(1.1);
}

ul {
  padding: 0;
  margin: 0;
  opacity: 0.9;
  position: absolute;
  left: -100px;
  width: 200px;
}

ul>li:nth-child(odd):hover {
  background-color: #eeeeee;
  color: slategray;
  font-weight: bold;
  transform: translatex(2px);
}

hr {
  margin: 0;
}

ul>li:hover {
  background-color: #eeeeee;
  color: slategray;
  font-weight: bold;
  filter: hue-rotate(360deg);
  transform: translatex(-2px);
}

ul>li {
  padding-right: 4px;
  color: #eeeeee;
  height: 20px;
  list-style: none;
  text-align: right;
  background-color: slategray;
  margin: 2px;
  position: relative;
  line-height: 20px;
  transition: transform 0.1s, filter 1s ease;
}

hr {
  opacity: 0.5;
  background-color: #eeeeee;
  height: 1px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=checkbox]:checked~body>.back {
  filter: blur(5px);
  background: black;
  transform: scale(1.2);
}

input[type=checkbox]:checked~nav ul>.social-wrap {
  background-color: rgba(255, 255, 255, 0.52) !important;
  width: 180px !important;
  transform: skewX(-20deg);
  transition: width 1s ease;
  transition-delay: 0.3s;
}

.page {
  bottom: 0;
  filter: blur(0px)opacity(1)brightness(1);
  transition: filter 1s ease;
}

input[type=checkbox]:checked~.page {
  filter: blur(5px)opacity(0.2)brightness(0.5);
  pointer-events: none;
}

input[type=checkbox]:checked~.back {
  transform: scale(1);
  filter: blur(0px);
}

input[type=checkbox]:checked~aside {
  opacity: 0.2;
}

input[type=checkbox]:checked~nav ul .social-wrap .social {
  transform: skewX(20deg);
}

input[type=checkbox]:checked~nav {
  transform: rotate(-20deg);
  transform-origin: 0% 0%;
  top: 127.5px;
  left: 3px;
  position: fixed;
  transition: left 0.5s, top 0.5s ease;
}

input[type=checkbox] {
  display: none;
}

.cont {
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  z-index: 3;
}

.header-mobile:hover #p1 {
  opacity: 0;
}

.header-mobile:hover #p2 {
  transform: rotate(630deg);
  opacity: 1;
  filter: invert(1)hue-rotate(180deg)brightness(5);
}

#menu-button>h1 {
  pointer-events: none;
  text-align: center;
  opacity: 0.5;
  color: #eeeeee;
  text-shadow: 0px -1px #70809099, 0px -2px #70809077, 0px -3px #70809055, 0px -4px #70809033, 0px -5px #70809011, 0px -1px 15px #708090aa;
  transform: skew(20deg, 20deg)rotate(-45deg)translate(-10px, 20px);
  letter-spacing: 5px;
  font-size: 40px;
  transition: opacity 0.2s, letter-spacing 0.2s ease;
  transition-delay: 2s;
}

#menu-button:hover {
  position: fixed;
  transform: skew(-20deg, -20deg);
  background-color: #eeeeee;
  color: slategray;
  box-shadow: inset -10px -10px 30px #11111155;
  border: 1px solid #11111155;
  transition: left 0.1s, top 0.2s, color 0.5s, transform 0.2s, height 0.2s, width 0.2s, background-color 0.2s ease;
  transition-delay: 0s;
  opacity: 0.5;
}

#menu-button:hover h1 {
  letter-spacing: 5px;
  opacity: 0.9;
  color: slategray;
  transition: opacity 0.2s, letter-spacing 0.2s ease;
  transition-delay: 0s;
}

#menu-button {
  left: -30px;
  top: -30px;
  height: 150px;
  width: 150px;
  position: fixed;
  background-color: #eeeeee55;
  opacity: 0.5;
  left: -30px;
  transform: skew(-20deg, -20deg);
  border-right: 2px solid #eeeeee55;
  border-bottom: 2px solid #eeeeee55;
  box-shadow: inset -10px -10px 0px #11111155;
  color: slategray;
  transition: left 0.1s, top 0.2s, color 0.5s, transform 0.2s, height 0.2s, box-shaodw 1s, width 0.2s, background-color 0.2s, opacity 0.2s ease;
  transition-delay: 0s;
}

#menu-button:hover {}

.c-scr::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238, 0);
}

.c-scr::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(238, 238, 238, 0);
}

.c-scr::-webkit-scrollbar-thumb {
  border-left: 1px solid #eeeeee22;
  border-right: 1px solid #eeeeee22;
  border-bottom: 1px solid #eeeeee22;
  border-top: 1px solid #eeeeee22;
  background: #eeeeee55;
  opacity: 0.2;
  background-color: rgba(17, 17, 17, 0);
}

.c-scr::-webkit-scrollbar-thumb:hover {
  border-left: 1px solid #eeeeee99;
  border-right: 1px solid #eeeeee99;
  border-bottom: 1px solid #eeeeee99;
  border-top: 1px solid #eeeeee99;
  background: #eeeeee55;
  opacity: 0.8;
  background-color: rgba(17, 17, 17, 0);
}

.back {
  z-index: -2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-blend-mode: color-burn;
  background: linear-gradient(to top, #ffe17655, transparent, #17b4ff55);
  background-image: url(outlook.jpg);
  background-size: cover;
  transform: scale(1.1);
  filter: blur(10px);
  transition: transform 1s, filter 1s ease;
}

.social {
  transform: skewX(35deg);
  justify-content: center;
  display: flex;
  flex-flow: wrap;
  padding-left: 40px;
  padding-top: 5px;
  transition: transform 0.5s ease;
}

.social-wrap:hover {
  background-color: #eeeeee;
  color: slategray;
  opacity: 0.9;
  box-shadow: inset -10px -10px 30px #11111155;
}

.social-wrap {
  width: 220px;
  transform: skewX(-35deg);
  height: 100px;
  background-color: #eeeeee55;
  box-shadow: inset -10px -10px 0px #11111155;
  opacity: 0.5;
  transition: width 1s, transform 0.5s, background-color 1s, box-shadow 1s, opacity 0.2s ease;
}

.social-img {
  width: 30px;
  border-radius: 15px;
  mix-blend-mode: lighten;
}

.social-item {
  width: 30px;
  height: 30px;
  margin: 5px;
  padding: 0;
}

.social-item:hover {
  margin: 5px;
}

.social-item:hover>a img {
  width: 32px;
  border-radius: 16px;
  mix-blend-mode: lighten;
}

.header-mobile {
  display: none;
}

.header>.sub {
  position: absolute;
  height: 95px;
}

.sub h2 {
  margin: initial;
  line-height: 40px;
  text-align: right;
  color: #eeeeee;
  letter-spacing: 2px;
}

.quad-1 {
  height: auto;
  position: relative;
  width: auto;
  min-height: 50vh;
  max-width: 50vw;
  opacity: 0.9;
  background-color: #11111155;
  transition: background-color 2ms ease;
}

.quad-1:hover {
  height: auto;
  position: relative;
  background-color: #111111ee;
}

.quad-1:nth-child(odd) {
  direction: ltr;
  width: inherit;
}

.content-box {
  margin: 20px;
  padding: 10px;
}

.content-box h1, h2, h3, p {
  margin: 0;
  line-height: 1;
}

.metrics {
  position: fixed;
  top: 96px;
}

@media screen and (max-width:790px) {
  .sub {
    display: none;
  }
  .asd-cover-content h2 {
    font-size: 30px;
    letter-spacing: 0;
    text-align: right;
  }
}

@media screen and (max-width:530px) {
  .asd-cover-content h2 {
    font-size: 20px;
    letter-spacing: 0;
    padding-right: 13px;
    text-align: right;
  }
}

@media screen and (max-width:300px) {
  .header-mobile>img {
    display: none;
  }
}

@media screen and (max-width:140vh) {
  .tools {
    bottom: 0;
    left: 50vw;
    top: 96px;
    bottom: 50vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

@media screen and (max-width:100vh) {
  header {
    pointer-events: none;
    position: fixed;
    right: -20px;
    border-left: 2px solid #eeeeee55;
    border-bottom: 2px solid #eeeeee55;
    opacity: 0.9;
    left: 77px;
    width: auto;
    box-shadow: inset 0px 0px 20px #11111155;
    top: -1px;
    height: 63px;
    background: #11111133;
    transform: skewx(-20deg);
    transition: opacity 0.2s ease;
  }
  header>.header {
    padding-left: 25px;
    transform: skewx(20deg);
  }
  .header-mobile>h1 {
    text-align: right;
    line-height: 45px;
    position: fixed;
    top: -35px;
    right: 20px;
    font-size: 60px;
  }
  #menu-button>h1 {
    pointer-events: none;
    text-align: center;
    opacity: 0.5;
    color: #eeeeee;
    text-shadow: 0px -1px #70809099, 0px -2px #70809077, 0px -3px #70809055, 0px -4px #70809033, 0px -5px #70809011, 0px -1px 15px #708090aa;
    transform: skew(20deg, 20deg)rotate(-45deg)translate(-15px, 20px);
    letter-spacing: 5px;
    font-size: 20px;
    transition: opacity 0.2s, letter-spacing 0.2s ease;
    transition-delay: 2s;
  }
  #menu-button {
    left: -20px;
    top: -20px;
    height: 100px;
    width: 100px;
    position: fixed;
    background-color: #eeeeee55;
    opacity: 0.5;
    transform: skew(-20deg, -20deg);
    border-right: 2px solid #eeeeee55;
    border-bottom: 2px solid #eeeeee55;
    box-shadow: inset -10px -10px 0px #11111155;
    color: slategray;
    transition: left 0.1s, top 0.2s, color 0.5s, transform 0.2s, height 0.2s, box-shaodw 1s, width 0.2s, background-color 0.2s, opacity 0.2s ease;
    transition-delay: 0s;
  }
  input[type=checkbox]:checked~nav ul>.social-wrap {
    background-color: rgba(255, 255, 255, 0.52) !important;
    width: 130px !important;
    margin-left: 35px;
    padding-right: 15px;
    transform: skewX(-20deg);
    transition: width 1s ease;
    transition-delay: 0.3s;
  }
  nav {
    transform: rotate(-19.75deg);
    transform-origin: 0% 0%;
    top: 150px;
    left: -180px;
    position: fixed;
    z-index: 20;
    transition: left 0.5s, top 0.5s ease;
  }
  input[type=checkbox]:checked~nav {
    transform: rotate(-20deg);
    transform-origin: 0% 0%;
    top: 97px;
    left: -28px;
    position: fixed;
    transition: left 0.5s, top 0.5s ease;
  }
  main:hover {
    overflow-y: hidden;
  }
  main {
    right: 0;
    left: 0;
    width: 100vw;
    top: 56.25vw;
    bottom: 10vh;
    margin-top: 126px;
    flex-flow: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    -webkit-overflow-scrolling: touch;
  }
  .tools:hover {
    overflow-y: hidden;
  }
  .tools {
    bottom: 0;
    background-color: #111111;
    height: 10vh;
    position: fixed;
    max-width: 100vw;
    left: 0;
    top: 90vh;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .leftsearch {
    width: auto;
    justify-content: left;
    display: flex;
    flex-flow: row;
  }
  .searchelement a {
    font-size: 10vh;
    line-height: 10vh;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }
  .icon {
    width: 8vh;
    height: 8vh;
    margin: 0;
    padding: 1vh;
    position: relative;
    filter: saturate(0);
    transition: transform 0.2s, saturate 0.5s ease;
  }
  .searchelement:hover .icon {
    filter: saturate(1);
    transform: scale(1.1);
  }
  .quad-1 {
    width: 100vw;
    left: 0px;
    right: 0px;
    height: inherit;
    bottom: 0;
    position: relative;
    min-height: unset;
    min-width: 100vw;
    max-width: unset;
  }
  .quad-1:nth-child(odd) {
    width: 100vw;
    left: 0px;
    right: 0;
    max-width: unset;
  }
  .header {
    display: none;
  }
  .asd-cover {
    right: 0;
  }
  aside {
    height: 56.25vw;
    right: 0;
    top: 65px;
    width: 100vw;
    max-width: unset;
    padding-bottom: 3.5vh;
  }
  .social-wrap {
    width: 100px;
    transform: skewX(-35deg);
    height: 100px;
    background-color: #eeeeee55;
    box-shadow: inset -10px -10px 0px #11111155;
    opacity: 0.5;
    transition: width 1s, transform 0.5s, background-color 1s, box-shadow 1s, opacity 0.2s ease;
  }
  .social-img {
    width: 30px;
    border-radius: 15px;
    mix-blend-mode: lighten;
  }
  .social-item {
    transform: rotate(20deg);
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0;
  }
  .social-item:hover {
    margin: 5px;
  }
  .social-item:hover>a img {
    width: 32px;
    border-radius: 16px;
    mix-blend-mode: lighten;
  }
  .asd-cover {
    z-index: 2;
    width: -webkit-fill-available;
    top: 0;
    left: 16px;
    right: 50px;
    position: absolute;
    border-top: 1px #eeeeee55 solid;
    border-left: 3px #eeeeee55 solid;
    background: #111111;
    height: 34px;
    transform: skewx(-70deg);
  }
  .asd-cont {
    left: 0px;
    width: auto;
    right: 0;
    justify-content: center;
    display: flex;
    flex-flow: wrap;
    height: 56.25vw;
    background: linear-gradient(to top, transparent, transparent, #111111);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .header-mobile>h1{    margin:0;top:5px;font-size:40px;line-height:30px;
}
  .header-mobile {
    display: block;
    right: 20px;
    opacity: 0.9;
    mix-blend-mode: soft-light;
    position: fixed;
    transform: skewx(20deg);
  }
}
